-e .

# Tests
pytest
pytest-xdist
gitpython

# Lint
flake8

# reports
jinja2
## pin pytest-metadata until https://github.com/numirias/pytest-json-report/issues/89
pytest-metadata==2.0.4
pytest-json-report
